body {
    background-color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.panel {
    position: absolute;
    background-color: lightgoldenrodyellow;
    border: 8px solid burlywood;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.header {
    left: 48%;
    top: 15px;
    height: 70px;
    width: 320px;
    margin-left: -120px;
}

.header-text {
    font-size: 30px;
    font-weight: bold;
    width: 220px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.new {
    position: absolute;
    border: 8px solid burlywood;
    top: 83%;
    left: 40%;
    height: 90px;
    width: 310px;
    background-color: rgb(247, 224, 150);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button {
    border-radius: 5px;
    margin-left: 1px;
    margin-right: 0.5px;
    margin-top: 5px;
    width: 140px;
    height: 60px;
    background-color: lightblue;
    font-size: 20px;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    border: 8px solid chocolate;
    font-weight: bold;
}

button:hover {
    background-color: chocolate;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 500px;
    position: absolute;
    top: 12%;
    left: 50%;
    margin-left: -250px;
    border: 8px solid burlywood;
    background-color: rgb(255, 209, 149);
    border-radius: 8%;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
}

.gamecircle {
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid black
}

.player_0 {
    background-color: white;
}

.player_1 {
    background-color: red;
}

.player_2 {
    background-color: blue;
}